---
layout: single 
classes: wide

---

Humanoid robots are increasingly expected to move with the same agility and speed as humans. However, traditional reactive control designs often lack a predictive horizon or rely on linear time-invariant models, which makes it difficult to guarantee the existence or uniqueness of a feasible solution. As a result, the current state-of-the-art in predictive control is often limited to suboptimal motions, such as fixed angular momentum trajectories, fixed center of mass height, or coplanar foot contacts. 

This workshop aims to address these challenges by bringing experts with diverse backgrounds in academia and industry, to share the latest control design and software tools spanning optimization-based control, hybrid control, and planning. Topics will include, but are not limited to:

<ul>

  <li><a href="/topics/hdd">How to compute high-order differential dynamics?</a></li>
  <li><a href="/topics/cda">How to approximate the centroidal dynamics?</a></li>
  <li><a href="/topics/amt">How to accurately track the angular momentum?</a></li>
  <li><a href="/topics/estimation">How to improve the floating-base state estimation?</a></li>
  <li><a href="/topics/balance">How to balance on uneven terrain?</a></li>
  <li><a href="/topics/mpc">How to perform whole-body model predictive control?</a></li>
  <li><a href="/topics/thls">How to transfer human locomotion skills to humanoids?</a></li>
  <li><a href="/topics/open">How does the low-cost components limit the control design?</a></li>
  <li><a href="/topics/dda">How to learn the whole-body control policy from large data set?</a></li>
</ul> 

Attendees will have the opportunity to engage in face-to-face discussions with both junior and senior scientists, gain hands-on experience with the latest control software, and network with researchers from the United States, Europe, and Asia. We will also live-cast the workshop on YouTube and disseminate recorded presentations through our website.


Beyond scientific contributions, this workshop has a significant societal impact. Real-time locomotion control is essential for developing future assistive devices, such as exoskeletons or prostheses. Our U.S.-based organizers, Drs. Demircan and Gu, will encourage college students to join and provide feedback on science and technology.


In summary, this workshop will summarize the latest tools and insights for developing humanoid robots with agile and robust locomotion capabilities, while promoting scientific exchange and community engagement.

<h3>Live Streaming</h3>

<hr/>
<h5>蔻享学术 Koushare</h5>
<iframe width="750" height="450" src="https://www.koushare.com/lives/room/132150" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<hr/>


{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% for post in posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
