---
layout: single 
classes: wide

---

Humanoid robots are increasingly expected to move with the same agility and speed as humans. However, traditional control designs often lack a predictive horizon or rely on linear time-invariant models, which makes it difficult to guarantee a feasible solution. As a result, the current state-of-the-art in predictive control is often limited to suboptimal motions, such as fixed angular momentum trajectories, fixed center of mass height, or coplanar foot contacts.

This workshop aims to address these challenges by providing attendees with the latest control design and software tools from experts with diverse backgrounds in optimization-based control, hybrid control, and planning. Topics will include, but are not limited to, 
<ul>
  <li>  inverse-dynamics model predictive control,
  <li>  high-order differential dynamics, 
  <li>  centroidal dynamics approximation, 
  <li>  angular momentum tracking,
  <li>  balance control on uneven terrain,
  <li>  floating-base state estimation,
  <li>  control design on open-source platforms,
  <li>  emerging data-driven approaches.
</ul> 

Attendees will have the opportunity to engage in face-to-face discussions with both junior and senior scientists, gain hands-on experience with the latest control software, and network with researchers from the United States, Europe, and Asia. We will also live-cast the workshop on YouTube and disseminate recorded presentations through our website.



Beyond scientific contributions, this workshop has significant societal impact. Real-time locomotion control will be essential for the development of the next generation of assistive devices, such as exoskeletons or prostheses. To engage with the broader community, our US-based organizers will visit local schools to encourage high school students to join and provide feedback on science and technology.

In summary, this workshop will provide attendees with the latest tools and insights for developing humanoid robots with agile and robust locomotion capabilities, while also promoting scientific exchange and community engagement.

<h3>Live Streaming</h3>
starts on June 4th, 09:00am (<a href="/program/">GMT+8 schedule</a>), that is 03:00am in (<a href="/program-cest/">CEST schedule</a>), and June 3rd, 06:00pm in (<a href="/program-pdt/">PDT schedule</a>). The workshop spans different time zones <a href="https://www.worldtimebuddy.com/?qm=1&lid=8,1816670,2988507,2643743&h=1816670&date=2021-6-4&sln=9-18&hf=1">here.</a>



 
<hr/>
<h5>蔻享学术 Koushare</h5>
<iframe width="750" height="450" src="https://www.koushare.com/liveRoom/639521" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<hr/>

<h5>YouTube</h5>
<iframe width="560" height="315" src="https://www.youtube.com/embed/-Tx6v0ye2KU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% for post in posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
